<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/sets">My Sets</a>
    <br>
    <a href="/add_piece">Add A Piece</a>
    <br>
    <a href="/add_set">Add A Set</a>
    <br>
    <h3>Total Piece Count: {{piece_count}}</h3>
    <br>
    <h3>Total In Use Piece Count: {{use_count}}</h3>
    <br>
    <p>Total In Use Percentage: <b>{{(use_count * 100) / piece_count}}%</b></p>
    <br>
    <br>
    <br>
    <h3>Total Piece Count From Unfinished Sets: {{un_piece_count}}</h3>
    <br>
    <h3>Total In Use Piece Count From Unfinished Sets: {{un_use_count}}</h3>
    <br>
    <p>Total In Use Percentage From Unfinished Sets: <b>{{(un_use_count * 100) / un_piece_count}}%</b></p>
    <br>
</body>
</html>